In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import scipy
import scipy.stats as stats
import seaborn as sns
import sklearn.linear_model as lm

sns.set_style('darkgrid')
plt.rcParams['scatter.edgecolors'] = 'none'

# 1. Преварительный просмотр данных

In [4]:
data_path = os.path.join(os.path.abspath(os.path.join(os.getcwd(), os.pardir)), r'dataset/rent.csv')

df = pd.read_csv(data_path, sep=';')

In [5]:
df.head(10)

    rent     s  floor  rooms  district  walls  furniture
0  15000  35.0      5      1         3      1          1
1  16500  31.0      2      1         2      0          1
2  18000  30.0      4      1         3      1          1
3  30000  55.0      1      2         3      1          1
4  12000  19.0      3      1         2      1          1
5  18000  45.0      7      1         2      0          1
6  22500  65.0      4      2         3      1          1
7  13500  20.0      2      1         2      0          1
8  28500  50.0      4      1         1      1          1
9  11250  15.0      1      1         2      0          1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rent       130 non-null    int64
 1   s          130 non-null    float64
 2   floor      130 non-null    int64
 3   rooms      130 non-null    int64
 4   district   130 non-null    int64
 5   walls      130 non-null    int64
 6   furniture  130 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 7.2 KB

Имеем заранее очищенные данные с числовыми признаками